.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}


.header .title-group {
    padding-left: 35px;
}

.header .title-group i {
    padding-right: 30px;
    color: #3F51B5;
}